@model FE.Models.Afiliados

@{
    ViewBag.Title = "Delete";
}

<h2>Borrar Afiliado</h2>

<h3>¿Esta seguro que desea borrar al afiliado?</h3>
<div>
    <h4>Afiliados</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cuit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cuit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombreapellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreapellido)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
